@font-face {
    font-family: Futura-CondensedExtraBold;
    src: url(Futura\ Condensed\ Extra\ Bold.otf);
}

.title{
    font-family: Futura-CondensedExtraBold;
}

.parent{
    display: inline-block;
    background-color: #FFFFFF;
}

.child{
    width: 0;
    min-width: 100%;
}

body{
    background-color: #DDDDDD;
    text-align: center;
}

img{
    display: block;
}